In [122]:
import pandas as pd
import numpy as np

# Convert height and position percent cols to floats in the "clean" base datatset

In [123]:
df_clean = pd.read_csv('bballref_data/clean_1997_to_2020.csv', index_col=0)
print(df_clean.shape)
df_clean.head()

(7363, 91)

,player_id,pos,age,team_id,g,mp,per,ts_pct,fg3a_per_fga_pct,fta_per_fga_pct,...,orb_per_poss,pf_per_poss,pts_per_poss,stl_per_poss,tov_per_poss,trb_per_poss,height,weight,salary,nationality
player,,,,,,,,,,,,,,,,,,,,,
Mahmoud Abdul-Rauf 1997,abdulma02,PG,27,SAC,75,2131,13.2,0.524,0.266,0.147,...,0.4,4.3,25.5,1.4,2.9,3.0,6-1,162,3100000.0,United States of America
Shareef Abdur-Rahim 1997,abdursh01,PF,20,VAN,80,2802,17.4,0.518,0.022,0.428,...,4.2,3.9,28.9,1.5,4.4,10.7,6-9,225,2186000.0,United States of America
Cory Alexander 1997,alexaco01,PG,23,SAS,80,1454,14.3,0.528,0.514,0.263,...,1.1,5.6,21.8,3.1,5.5,4.7,6-1,185,521000.0,United States of America
Jerome Allen 1997,allenje01,SG,24,TOT,76,943,8.7,0.451,0.421,0.326,...,1.4,4.8,12.9,1.8,3.9,5.5,6-4,184,247500.0,United States of America
Ray Allen 1997,allenra02,SG,21,MIL,82,2532,14.6,0.541,0.328,0.274,...,2.1,4.6,23.3,1.6,3.2,6.9,6-5,205,1785000.0,United States of America

In [124]:
df_clean.dtypes.value_counts()

float64    63
int64      17
object     11
dtype: int64

In [125]:
sorted(df_clean.select_dtypes('O').columns)

['height',
 'nationality',
 'pct_c',
 'pct_pf',
 'pct_pg',
 'pct_sf',
 'pct_sg',
 'player_id',
 'pos',
 'salary',
 'team_id']

In [126]:
df_clean['height']

player
Mahmoud Abdul-Rauf 1997     6-1
Shareef Abdur-Rahim 1997    6-9
Cory Alexander 1997         6-1
Jerome Allen 1997           6-4
Ray Allen 1997              6-5
                           ...
Delon Wright 2020           6-5
Thaddeus Young 2020         6-8
Trae Young 2020             6-1
Cody Zeller 2020            7-0
Ivica Zubac 2020            7-0
Name: height, Length: 7363, dtype: object

In [127]:
df_clean.loc[:, 'height'] = df_clean['height'].apply(lambda x: (int(x[0]) * 12) + int(x[-1]))

In [128]:
df_clean['height']

player
Mahmoud Abdul-Rauf 1997     73
Shareef Abdur-Rahim 1997    81
Cory Alexander 1997         73
Jerome Allen 1997           76
Ray Allen 1997              77
                            ..
Delon Wright 2020           77
Thaddeus Young 2020         80
Trae Young 2020             73
Cody Zeller 2020            84
Ivica Zubac 2020            84
Name: height, Length: 7363, dtype: int64

In [129]:
sorted(df_clean.select_dtypes('O').columns)

['nationality',
 'pct_c',
 'pct_pf',
 'pct_pg',
 'pct_sf',
 'pct_sg',
 'player_id',
 'pos',
 'salary',
 'team_id']

## Convert position percent to floats from str

In [130]:
df_clean[position_pct_cols].iloc[0]

pct_c     0.0
pct_pf    0.0
pct_pg    89%
pct_sf    0.0
pct_sg    11%
Name: Mahmoud Abdul-Rauf 1997, dtype: object

In [131]:
position_pct_cols = ['pct_c',
                     'pct_pf',
                     'pct_pg',
                     'pct_sf',
                     'pct_sg',]

def pct_to_float(series):
    return series.apply(lambda x: float(x.strip('%')))

## One-liner
df_clean.loc[:, position_pct_cols] = df_clean[position_pct_cols].apply(lambda series: series.apply(lambda x: float(x.strip('%'))))

In [132]:
## check that it worked:
df_clean[position_pct_cols].iloc[0]

pct_c      0.0
pct_pf     0.0
pct_pg    89.0
pct_sf     0.0
pct_sg    11.0
Name: Mahmoud Abdul-Rauf 1997, dtype: float64

In [134]:
df_clean.shape

(7363, 91)

In [133]:
df_clean.to_csv('bballref_data/clean_1997_to_2020.csv')